.nav-tabs .nav-link{
    background-color: white;
    border-color: #ededed;
    padding:5px 12px;
    margin:0 5px 10px;
    border-radius: 5px;
    color:#4d4d4d;
    font-size:16px;
}

.nav-tabs .nav-link:hover{
    border-color:#ededed;
}
.nav-tabs .nav-link.active{
background-color: #e55252;
border-color: transparent;
color:white;
}

.page-item.disabled .page-link,
.page-link{
    border: none;
    background-color: transparent;
    color: #4d4d4d;
}
.page-item.active .page-link
{
    background-color: #e55252;
}
.page-link:hover{
    background-color: #e55252;
    color:#ffffff;
}

